* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 2rem;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

main {
    padding: 4rem;
    height: calc(100vh - 101px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

input {
    border: 0.9px solid black;
    border-radius: 10px;
}

button {
    width: 6rem;
    height: 3rem;
    font-size: 18px;
    color: white;
    background-color: black;
    border: none;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

button:hover,
input:hover {
    opacity: 0.7;
    transition: 0.3s;
}

span,
button {
    margin-top: 4rem;
}