/vendor/

.phpunit.result.cache
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
src/task3/react-frontend/node_modules
src/task3/react-frontend/.pnp
src/task3/react-frontend/.pnp.js

# testing
src/task3/react-frontend/coverage

# production
src/task3/react-frontend/build

# misc
src/task3/react-frontend/.DS_Store
src/task3/react-frontend/.env.local
src/task3/react-frontend/.env.development.local
src/task3/react-frontend/.env.test.local
src/task3/react-frontend/.env.production.local

src/task3/react-frontend/npm-debug.log*
src/task3/react-frontend/yarn-debug.log*
src/task3/react-frontend/yarn-error.log*
