* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 2rem;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

main {
    margin: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    border: 0.9px solid black;
    border-radius: 10px;
}

/* --- Temperature convertor --- */



/* --- Temperature convertor --- */





/* --- Speed convertor --- */

.speed {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec,
.knots {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.knots {
    margin-top: 4rem
}

/* --- Speed convertor --- */





/* --- Mass convertor --- */



/* --- Mass convertor --- */
