@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    transition: all 0.3s linear; /* vendorless fallback */
    -o-transition: all 0.3s; /* opera */
    -ms-transition: all 0.3s; /* IE 10 */
    -moz-transition: all 0.3s; /* Firefox */
    -webkit-transition: all 0.3s; /*safari and chrome */
}

.App {
    height: 100vh;
    background-color: white;
    position: relative;
}

.Overlay {
    height: 100vh;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.Overlay a,
.container {
    height: 100vh;
    width: 33.4vw;
    position: relative;
    overflow: hidden;
}

.container img {
    height: 100vh;
    object-fit: cover;
    filter: blur(5px);
    transform: scale(1.1);
}

.container h1 {
    position: absolute;
    bottom: 2rem;
    left: 2rem;
    color: black;
}

.container img:hover {
    filter: blur(0);
    transform: scale(1.2);
}

.overlay_out {
    visibility: hidden;
}

.tile1_out {
    animation: tile1_moveout 1s ease-in;
}

.tile2_out {
    animation: tile2_moveout 1s ease-in;
}

.tile3_out {
    animation: tile3_moveout 1s ease-in;
}

.overlay_in {
    visibility: visible;
}

.tile1_in {
    animation: tile1_movein 1s ease-out;
}

.tile2_in {
    animation: tile2_movein 1s ease-out;
}

.tile3_in {
    animation: tile3_movein 1s ease-out;
}

.Todo {
    height: calc(100vh - 92px);
    width: 100vw;
    background: url('../content/placeholder3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.area {
    background-color: rgba(255, 255, 255, 0.85);
    border-radius: 10px;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.area .date_form {
    margin-bottom: 2rem;
}

.area .date_form button {
    margin-left: 1rem;
}

.area h2 {
    margin-bottom: 2rem;
}

.area button {
    color: white;
    background-color: black;
    padding: 0.5rem;
}

.area .comments {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    line-height: 1rem;
}

td a {
    color: black;
}

button {
    border: none;
    border-radius: 10px;
}

input,
select {
    min-height: 1.5rem;
    border: 0.9px solid black;
    border-radius: 10px;
    text-align: center;
}

input:hover,
button:hover,
select:hover {
    opacity: 0.7;
}

header a:hover,
.Todo a:hover,
header .active,
.Todo .active {
    opacity: 0.5;
}

/* @keyframes move_out {
    0%   {left:0%}
    100% {left:200%; visibility: hidden;}
} */

@keyframes tile1_moveout {
    0%   {left:0%}
    100% {left:200%; visibility: hidden;}
}

@keyframes tile2_moveout {
    0%   {left:33.4%}
    100% {left:200%; visibility: hidden;}
}

@keyframes tile3_moveout {
    0%   {left:66.8%}
    100% {left:200%; visibility: hidden;}
}

/* @keyframes move_in {
    0%   {left:200%; visibility: visible;}
    100% {left:0%}
} */

@keyframes tile1_movein {
    0%   {left:200%; visibility: visible;}
    100% {left:0%}
}

@keyframes tile2_movein {
    0%   {left:200%; visibility: visible;}
    100% {left:33.4%}
}

@keyframes tile3_movein {
    0%   {left:200%; visibility: visible;}
    100% {left:66.8%}
}