@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
    transition: all 0.3s linear; /* vendorless fallback */
    -o-transition: all 0.3s; /* opera */
    -ms-transition: all 0.3s; /* IE 10 */
    -moz-transition: all 0.3s; /* Firefox */
    -webkit-transition: all 0.3s; /*safari and chrome */
}

.App {
    height: 100vh;
    background-color: white;
    position: relative;
}

ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul li {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
    line-height: 1rem;
}

td a {
    color: black;
}

td {
    padding: 5px;
}

table {
    margin-bottom: 1rem;
}

button {
    border: none;
    border-radius: 10px;
    font-size: 13.333px;
}

input,
select {
    min-height: 1.5rem;
    border: 0.9px solid black;
    border-radius: 10px;
    text-align: center;
    outline: none;
}

input:hover,
button:hover,
select:hover {
    opacity: 0.7;
}

header a:hover,
.Todo a:hover,
header .active,
.Todo .active {
    opacity: 0.5;
    z-index: 0;
}