.Convertor {
  min-height: calc(100vh - 92px);
  background: url('../content/placeholder1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Convertor span {
  background-color: rgba(255, 255, 255, 0.85);
  border: none;
  border-radius: 10px;
  padding: 2rem;
  width: 403.27px;
  text-align: center;
}

.Convertor form {
  padding: 2rem;
  scale: 1.2;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  gap: 1rem;
  row-gap: 2rem;
}

.Convertor button {
  font-size: 13.333px;
  color: white;
  background-color: black;
  grid-column: span 2;
  justify-self: center;
}

.Convertor input,
.Convertor select {
  width: 10rem;
  border: none;
  border-bottom: 1px solid black;
  border-radius: 0;
  background-color: transparent;
}

.Convertor input:focus {
  scale: 1.3;
}