.Login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 4rem;
}

.Login h2 {
    margin-bottom: 2rem;
}

.Login form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Login input {
    width: 11rem;
}

.Login button {
    margin-top: 2rem;
    height: 2.5rem;
    width: 5rem;
    color: white;
    background-color: black;
}