.table_row {
  width: calc(100% / 4);
}

.table_header {
  color: white;
  background-color: black;
  border: none;
  height: 50px;
  width: 250px;
}

tr:nth-child(odd) {
  background-color: #e9e8e8;
}

tr:hover {
  background-color: rgb(191, 191, 191);
}

.create_task {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 7fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

/* label,
.button_form {
  margin: 0 0.5rem;
} */

.button_form {
  grid-column: span 2;
  justify-self: center;
}

/* .create_task label {
  text-align: right;
} */

/* .create_task select {
  width: 100%;
} */

/* .login {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 7fr;
  grid-gap: 10px;
} */

.contact_form {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.close {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: 1fr 7fr;
  grid-gap: 1rem;
  row-gap: 2rem;
}

.close_h2 {
  margin-top: 2rem;
}

.close input:focus {
  scale: 1.1;
}
